<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <section id="about">
        <div class="about-content">
            <h1>ABOUT US</h1>
            <p>BLOG IT is a blogging website developed by me to give the world a free space to share their experiences. Blogging is a very popular art which is known to many people around the world. Bloggers not only produce content to post on their blogs but also often build social relations with their readers and other bloggers. So lets build a community of people who are ready to share their experiences to the world in every possible way.</p>
            <p class="p2">So here you can write blogs on any topic ranging from fashion blog to fitness blogs to political blog and much more... </p>
        </div> 
    </section>
   <%- include('./partials/footer.ejs') %>
</body>
</html>